.singlePage {
    position: relative;

    &__slider {
        height: 777px;
        width: $siteWidth;
        background-color: rgba(247, 247, 247, 1);
        border: 1px solid $siteBorderColor;
        text-align: center;
        display: inline-block;
        margin-bottom: 763px;
        position: relative;
    }
}

.slider__pagination {
    position: absolute;
    width: 47px;
    height: 47px;
    background-color: rgba(42, 42, 42, 0.15);
    top: 310px;

    & a {
        display: block;
        font-size: -24px;
        color: $siteBGC;
        line-height: 45px;
    }

    &:hover {
        background-color: $siteColor;
        transform: scale(-1);
    }

    &_right {
        right: 0px;
    }
}

.discription {
    height: 730px;
    text-align: center;
    width: 1141px;
    border: 1px solid $siteBorderColor;
    position: absolute;
    top: 700px;
    left: calc(50% - 570px);
    background-color: $siteBGC;

    &__nameColection {
        font-size: 14px;
        font-weight: bold;
        color: rgba(241, 109, 127, 1);
        text-align: center;
        line-height: 24px;

        margin-top: 73px;
    }

    &__shape {
        display: inline-flex;
        justify-content: center;
        margin-top: 15px;

        &_default {
            width: 42px;
            border-bottom: 1px solid $siteBorderColor;
        }

        &_active {
            width: 63px;
            border-bottom: 3px solid $siteColor;
        }
    }

    &__heading {
        font-size: 18px;
        font-weight: 900;
        color: rgba(77, 77, 77, 1);
        text-align: center;
        line-height: 24px;
        text-transform: uppercase;
        margin-top: 18px;
    }

    &__text {
        width: 625px;
        font-size: 14px;
        font-weight: 300;
        color: rgba(94, 94, 94, 1);
        text-align: center;
        line-height: 24px;
        margin-top: 67px;
    }

    &__characteristics {
        font-size: 14px;
        font-weight: bold;
        color: rgba(185, 185, 185, 1);
        text-align: center;
        line-height: 24px;
        margin-top: 30px;

        &:last-child {
            margin-left: 44px;
        }

        &_text {
            color: rgba(47, 47, 47, 1);

            &:first-child {
                margin-right: 44px;
            }
        }
    }

    &__price {
        width: 642px;
        font-size: 24px;
        font-weight: bold;
        color: rgba(239, 91, 112, 1);
        text-align: center;
        line-height: 24px;
        margin-top: 30px;
        padding-bottom: 35px;
        border-bottom: 1px solid rgba(234, 234, 234, 1);
        ;
    }

    .chooseFilter__header {
        width: 600px;
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        font-weight: bold;
        color: rgba(47, 47, 47, 1);
        line-height: 24px;
        margin-top: 35px;
        margin-right: 295px;
    }

    .chooseFilter__select {
        height: 35px;
        width: 144px;
        background-color: rgba(255, 255, 255, 1);
        border: 1px solid rgba(234, 234, 234, 1);
        margin-right: 53px;
        margin-left: 16px;
        padding: 0px 15px 0px 15px;
        font-size: 13px;
        color: rgba(188, 188, 188, 1);
        line-height: 24px;
        outline: none;
    }

    .chooseFilter__quantity {
        height: 35px;
        width: 144px;
        background-color: rgba(255, 255, 255, 1);
        border: 1px solid rgba(234, 234, 234, 1);
        margin-top: 14px;
        padding: 0px 15px 0px 15px;
        font-size: 13px;
        color: rgba(188, 188, 188, 1);
        line-height: 24px;
        outline: none;
    }

    .chooseFilter__button {
        height: 55px;
        width: 555px;
        background-color: $siteBGC;
        border: 1px solid $siteColor;
        margin-left: 15px;
        margin-top: 20px;
        font-size: 16px;
        font-weight: bold;
        color: rgba(239, 91, 112, 1);
        padding-left: 70px;
        background-image: url(img/cart_rad.png);
        background-repeat: no-repeat;
        background-position: 220px;
    }

    .chooseFilter__color_red {
        width: 12px;
        height: 12px;
        background-color: red;
    }

}

.similar__name {
    font-size: 24px;
    font-weight: 900;
    color: rgba(77, 77, 77, 1);
    text-align: center;
    line-height: 20px;
    text-transform: uppercase;
}