.singlePage {
    position: relative;
}

.singlePage__slider {
    height: 777px;
    width: $siteWidth;
    background-color: rgba(247, 247, 247, 1);
    border: 1px solid $siteBorderColor;
    position: relative;
    text-align: center;    
    display: inline-block;
    margin-bottom: 763px;
}


.slider__pagination {
    position: absolute;
    width: 47px;
    height: 47px;
    background-color:rgba(42, 42, 42, 0.15);
    top: 310px;

    & a {
        display: block;
        font-size: -24px;
        color: $siteBGC;
        line-height: 45px;
    }
        
    &:hover {
        background-color: $siteColor;
        transform: scale(-1);
    }
}   

.slider__pagination_right {
    right: 0px;
}

.discription {
    height: 730px;
    text-align: center;
    width: 1141px;
    border: 1px solid $siteBorderColor;
    position: absolute;
    top: 700px;
    left: calc(50% - 570px);
    background-color: $siteBGC;

    &__nameColection {
        font-size: 14px;
        font-weight: bold;
        color: rgba(241, 109, 127, 1);
        text-align: center;
        line-height: 24px;
        
        margin-top: 73px;
    }

    &__shape {
        display:inline-flex;
        justify-content: center;
        margin-top: 15px;

        &_default {
            width: 42px;
            border-bottom: 1px solid $siteBorderColor;
        }

        &_active {
            width: 63px;
            border-bottom: 3px solid $siteColor;
        }
    }

    &__heading {
        font-size: 18px;
        font-weight: 900;
        color: rgba(77, 77, 77, 1);
        text-align: center;
        line-height: 24px;
        text-transform: uppercase;
    }

    &__text {
        font-size: 14px;
        font-weight: 300;
        color: rgba(94, 94, 94, 1);
        text-align: center;
        line-height: 24px;
    }
}

