.breadcrumb {
    height: 148px;
    background-image: url(img/breadcrumb.png);
    padding-top: 65px;
    margin-bottom: 71px;
}

.breadcrumb_header {
    font-size: 24px;
    font-weight: 900;
    line-height: 20px;
    text-transform: uppercase;
}

.central_content {
    display: flex;
}

.category {
    width: 243px;
}

.category_head {
    display: block;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    text-transform: uppercase;
}

.category_head::-webkit-details-marker {
    display: none;
}

.category_head::after {
    content: '\25B6';
    padding-right: 0.5em;
}

details[open] > .category_head::after {
    content: '\25BC';
}

.link {
    list-style-type: none;
}

.link_category {
    font-size: 14px;
    color: rgba(111, 110, 110, 1);
    line-height: 33px
}

.top_filter {
    display: flex;
}

.top_filter_size {
    width: 236px;
    font-size: 14px;
    font-weight: 400;
    color: rgba(111, 110, 110, 1);
    line-height: 20px;
    text-transform: uppercase;
}

.top_filter_size_header {
    font-weight: bold;
    margin-bottom: 26px;
}

.top_filter_size_chekbox {
    margin-right: 5px
}

.top_filter_size_text {
    padding-right: 20px;
}
