* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    width: 1600px;
}

.center {
    padding: 0 calc(50% - 570px);
}

a {
    text-decoration: none;
}

.header {
    height: 100px;
    background-color: #ffffff;
    border: 1px solid #ececec;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.17);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__left,
.header__right {
    display: flex;
    margin: 0px;
}

.header__form {
    display: flex;
    align-items: center;
    margin-left: 37px;
}

.header__browse {
    font-size: 14px;
    font-weight: 300;
    color: rgba(34, 34, 34, 1);
    text-align: right;
    letter-spacing: 0.03em;
    line-height: 32px;
    border: 1px solid rgba(230, 230, 230, 1);
    border-radius: 0px 3px 3px 0px;
    padding: 0px 26px 0px 14px;
}

.header__form input {
    line-height: 30px;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(230, 230, 230, 1);
    border-radius: 0px 3px 3px 0px;
    padding: 0px 16px;
    font-size: 14px;
    font-weight: 300;
    color: rgba(164, 164, 164, 1);
    text-align: left;
    letter-spacing: 0.03em;
    line-height: 32px;
}

.header__button {
    height: 32px;
    width: 32px;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(230, 230, 230, 1);
    border-radius: 0px 3px 3px 0px;
}

.header__cart {
    margin-right: 26px;
}

.logo {
    display: flex;
    align-items: center;
    width: 164px;
    margin-left: 0px;
}

.logo__img {
    margin-right: 13px;
}

.logo__img h1 {
    font-size: 27px;
    font-weight: 300;
    color: rgba(34, 34, 34, 1);
    text-align: center;
    letter-spacing: 0.03em;
    line-height: 32px;
    text-transform: uppercase;
}

.button {
    width: 130px;
    height: 38px;
    font-size: 15px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(241, 109, 127, 1);
    text-align: center;
    letter-spacing: 0.03em;
    line-height: 32px;
}

.pinc {
    font-weight: 900;
    color: rgba(241, 109, 127, 1);
}

.nav {
    background-color: #ffffff;
}

.menu {
    list-style-type: none;
    display: flex;
    justify-content: center;
    width: 680px;
}

.menu__link {
    font-size: 14px;
    font-weight: bold;
    color: #222222;
    padding: 19px;
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: rgba(34, 34, 34, 1);
    line-height: 19px;
    text-transform: uppercase;
}

.promo {
    height: 613px;
    background-color: #e8e8e8;
    background-image: url(img/promo.png);
    background-repeat: no-repeat;
    background-position: center -52px;
    display: flex;
    align-items: flex-start;
}

.promo__content {
    margin-top: 224px;
    border-left: 12px solid #f16d7f;
    padding-left: 12px;
    margin-left: 0px;
}

.promo__content h1 {
    font-size: 60px;
    font-weight: 900;
    color: rgba(34, 34, 34, 1);
    letter-spacing: 0.03em;
}

.promo__content p {
    font-size: 40px;
    font-weight: 900;
    color: rgba(34, 34, 34, 1);
    letter-spacing: 0.03em;
}

.banner {
    display: flex;
    margin-top: 98px;
}

.banner_right,
.banner_left {
    width: 560px;
}

.banner_right {
    margin-right: 20px;
}

.banner_hot_deal {
    position: relative;
}

.banner_luxirous {
    margin-top: 20px;
    position: relative;
}

.banner_offer {
    position: relative;
}

.banner_new {
    margin-top: 20px;
    position: relative;
}

.badge {
    background-color: #fff;
    position: absolute;
    top: 26px;
}

.badge h1 {
    font-family: 'Lato';
    font-size: 18px;
    font-weight: 900;
    color: rgba(34, 34, 34, 1);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-left: 18px;
    margin-right: 18px;
    margin-top: 16px;
}

.badge p {
    font-family: 'Lato';
    font-size: 30px;

    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-left: 18px;
    margin-right: 18px;
    margin-bottom: 16px;
}

.product {
    margin-top: 100px;
}

.product_top h1 {
    font-size: 30px;
    font-weight: bold;
    color: rgba(34, 34, 34, 1);
    text-align: center;
    letter-spacing: 0.03em;
    line-height: 54px;
}

.product_top p {
    font-size: 14px;
    color: rgba(159, 159, 159, 1);
    text-align: center;
    letter-spacing: 0.03em;
    line-height: 54px;
}

.product_tovar_cart {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 30px;
    position: relative;
}

.tovar_cart {
    margin-bottom: 30px;
    position: relative;
}

.add_to_cart {
    display: none;
    position: absolute;
    opacity: 0.7;
}

.button_add_to_cart {
    min-width: 123px;
    min-height: 39px;
    border: 1px solid #fff;
    position: absolute;
    top: 97px;
    left: 70px;
    font-size: 13px;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    padding-left: 43px;
    padding-top: 10px;
    background-image: url(img/cart-white.png);
    background-repeat: no-repeat;
    background-position: 10px;
}

.img_cart_white {
    position: absolute;
    top: 107px;
    left: 82px;
}



.tovar_cart:hover {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.17);
}


.tovar_cart:hover .add_to_cart {
    display: block;
}

.tovar_info {
    font-size: 13px;
    color: rgba(34, 34, 34, 1);
    text-align: left;
    text-transform: uppercase;
    margin-left: 13px;
    margin-top: 19px;
}

.tovar_price {
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
    margin-left: 13px;
    margin-top: 17px;
    margin-bottom: 29px;
}

.prduct_bottom {
    width: 212px;
    text-align: center;
    margin: 0 auto;
}

.feature {
    margin-top: 113px;
    background-color: #000;
    position: relative;
    width: 1140px;
}


.feature_shadow {
    position: absolute;
    left: 0px;
}

.feature_text {
    position: absolute;
    top: 146px;
    left: 39px;
}

.feature_text h1 {
    font-size: 54px;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 0.03em;
}

.feature_text p {
    font-size: 32px;
    color: rgba(255, 255, 255, 1);
    margin-left: -15px;
    -webkit-transform: scale(0.89);
    -ms-transform: scale(0.89);
}

.feature_box_delivery {
    position: absolute;
    top: 60px;
    left: 800px;
    width: 300px;
}

.feature_box_delivery img {
    float: left;
}

.feature_box_delivery h1 {
    left: 34px;
    font-size: 20px;
    font-weight: bold;
    color: rgba(251, 251, 251, 1);
    letter-spacing: 0.03em;
    padding-left: 78px;
}

.feature_box_delivery p {
    left: 34px;
    font-size: 14px;
    font-weight: 300;
    color: rgba(251, 251, 251, 1);
    letter-spacing: 0.03em;
    line-height: 24px;
    padding-left: 78px;
}

.feature_box_sales {
    position: absolute;
    top: 215px;
    left: 800px;
    width: 300px;
}

.feature_box_sales img {
    float: left;
}

.feature_box_sales h1 {
    left: 34px;
    font-size: 20px;
    font-weight: bold;
    color: rgba(251, 251, 251, 1);
    letter-spacing: 0.03em;
    padding-left: 78px;
}

.feature_box_sales p {
    left: 34px;
    font-size: 14px;
    font-weight: 300;
    color: rgba(251, 251, 251, 1);
    letter-spacing: 0.03em;
    line-height: 24px;
    padding-left: 78px;
}

.feature_box_quality {
    position: absolute;
    top: 375px;
    left: 800px;
    width: 300px;
}

.feature_box_quality img {
    float: left;
}

.feature_box_quality h1 {
    left: 34px;
    font-size: 20px;
    font-weight: bold;
    color: rgba(251, 251, 251, 1);
    letter-spacing: 0.03em;
    padding-left: 78px;
}

.feature_box_quality p {
    left: 34px;
    font-size: 14px;
    font-weight: 300;
    color: rgba(251, 251, 251, 1);
    letter-spacing: 0.03em;
    line-height: 24px;
    padding-left: 78px;
}

.subscribe {
    width: 1600px;
    height: 438px;
    background-image: url(img/subscribe.png);
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-top: 97px;
    display: flex;
}
}

.subscribe_send {
    padding-top: 111px;
}

.slider img {
    float: left;
    margin-top: 111px;
}

.slider_content {
    width: 425px;
    font-size: 16px;
    font-style: italic;
    color: rgba(34, 34, 36, 1);
    letter-spacing: 0.03em;
    line-height: 26px;
    margin-left: 100px;
    padding-top: 111px;
}

.slider_name_autor {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    color: rgba(241, 109, 127, 1);
    letter-spacing: 0.03em;
    line-height: 26px;
    margin-left: 100px;
}

.slider_autor {
    font-size: 12px;
    font-weight: 300;
    color: rgba(34, 34, 36, 1);
    letter-spacing: 0.03em;
    line-height: 14px;
    margin-left: 100px;
}

.pagination {
    margin-left: 100px;
    margin-top: 30px;
}

.button_slider {
    height: 4px;
    width: 38px;
    background-color: rgba(214, 214, 214, 1);
    margin-right: 13px;
}

.subscribe_send {
    height: 41px;
    margin-top: 120px;
    text-align: center;
}

.subscribe_send h1 {
    font-size: 24px;
    color: rgba(34, 34, 36, 1);
    text-align: center;
    letter-spacing: 0.03em;
    line-height: 54px;
    text-transform: uppercase;
}

.subscribe_send p {
    font-size: 14px;
    color: rgba(34, 34, 36, 1);
    text-align: center;
    letter-spacing: 0.03em;
    line-height: 24px;
}

.send_email {
    position: relative;
    margin-top: 30px
}

.send_email input {
    height: 46px;
    width: 334px;
    border: 1px solid rgba(230, 230, 230, 1);
    background-color: rgba(225, 225, 225, 1);
    border-radius: 23px;
    font-size: 14px;
    color: rgba(34, 34, 36, 1);
    letter-spacing: 0.03em;
    line-height: 54px;
    padding-left: 28px;
    padding-right: 90px;
    outline: none;
}

.send_email button {
    height: 46px;
    width: 104px;
    background-color: rgba(241, 109, 127, 1);
    border: 1px solid rgba(230, 230, 230, 1);
    border-radius: 0px 23px 23px 0px;
    position: absolute;
    left: 250px;
}

.footer_up {
    display: flex;
    justify-content: space-between
}

.footer {
    margin-top: 109px;
}

.abaut p {
    width: 430px;
    margin-top: 29px;
    font-size: 14px;
    font-weight: 300;
    color: rgba(137, 137, 137, 1);
    letter-spacing: 0.03em;
    line-height: 24px;
}

.footer nav {
    margin-top: 10px;
}

.footer nav ul {
    list-style-type: none;
    margin-top: 30px;
}

.footer nav ul a {
    font-family: 'Lato';
    font-size: 16px;
    color: rgba(137, 137, 137, 1);
    letter-spacing: 0.03em;
    line-height: 42px;
}

.footer_copyright_and_social {
    height: 79px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(230, 230, 230, 1);
    margin-top: 65px;
    padding-top: 24px;
}

.footer_all_rights {
    font-size: 16px;
    color: rgba(122, 122, 122, 1);
    letter-spacing: 0.03em;
    line-height: 42px;
}

.footer_social {
    display: flex;
    width: 191px;
    justify-content: space-between;
    margin-top:
}

.social_icon {
    height: 32px;
    width: 32px;
    background-color: rgba(255, 255, 255, 1);
    position: relative;
}

.social_icon:hover {
    background-color: rgba(241, 109, 127, 1);
}

.social_icon a {
    position: absolute;
    top: 9px;
    left: 9px;
}
